.attribution {
  height: 18px;
  font-size: 11px;
  text-align: center;
  padding-bottom: 2px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  color: var(--soft-blue);

  a {
    color: #fff;
  }
}
