* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--very-dark-blue-main);
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}