:root {
  /* colors */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --cyan-opacity: rgba(0, 255, 247, 0.3);
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--very-dark-blue-main);
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 350px;
  background: var(--very-dark-blue-card);
  padding: 24px;
  border-radius: 16px;
}

.card__image {
  position: relative;
  width: 302px;
  height: 302px;
  cursor: pointer;
}

.card__image__eth {
  border-radius: 8px;
}

.card__image__icon {
  display: block;
  position: absolute;
  border-radius: 8px;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: var(--cyan-opacity);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.card__image__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card__image:hover .card__image__icon {
  opacity: 1;
}

.card__title {
  color: var(--white);
  font-size: 21px;
  line-height: 28px;
  margin-top: 24px;
  margin-bottom: 18px;
  font-weight: 600;
}

.card__title:hover {
  color: var(--cyan);
  cursor: pointer;
}

.card__description {
  color: var(--soft-blue);
  font-weight: 300;
  line-height: 23px;
  font-size: 18px;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 20px;
  padding: 24px 0;
  border-bottom: 1px solid var(--very-dark-blue-line);
}

.card__info__eth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--cyan);
  font-weight: 600;
  letter-spacing: 0.01em;
}

.card__info__eth img {
  width: 10px;
  margin-right: 8px;
}

.card__info__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--soft-blue);
  font-weight: 400;
}

.card__info__days img {
  width: 15px;
  margin-right: 8px;
}

.card__creator {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--soft-blue);
  font-weight: 400;
}

.card__creator img {
  width: 32px;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin-right: 16px;
}

.card__creator span {
  color: var(--white);
}

.card__creator span:hover {
  color: var(--cyan);
  cursor: pointer;
}

.attribution {
  height: 18px;
  font-size: 11px;
  text-align: center;
  padding-bottom: 2px;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  color: var(--soft-blue);
}

.attribution a {
  color: #fff;
}

@media (max-width: 375px) {
  .card {
    width: 325px;
  }
  .card__image {
    width: 278px;
    height: 278px;
  }
  .card__title {
    margin-bottom: 16px;
  }
  .card__description {
    font-size: 16px;
  }
  .card__info {
    font-size: 14px;
    padding: 16px 0;
  }
  .card__creator {
    padding-top: 16px;
    padding-bottom: 0;
  }
}
